<div class="registration-container">
    <mat-card class="registration-card">
      <mat-card-header>
        <mat-card-title><strong><em>Student Registration</em></strong></mat-card-title>
        <mat-card-subtitle><strong><em>Skills Development Hub</em></strong></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Personal Information</ng-template>
            <form [formGroup]="firstFormGroup">
              <div class="step-content">
                <h3>Applicant Information <hr></h3>
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>Student ID</mat-label>
                    <input matInput formControlName="studentId">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Application Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="applicationDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="middleName">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" >
                  </mat-form-field>
                </div>
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>Father's First Name</mat-label>
                    <input matInput formControlName="fatherFirstName" >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Father's Middle Name</mat-label>
                    <input matInput formControlName="fatherMiddleName">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Father's Last Name</mat-label>
                    <input matInput formControlName="fatherLastName" >
                  </mat-form-field>
                </div>
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth" >
                    <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dobPicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phoneNumber" >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                  </mat-form-field>
                </div>
                <mat-form-field class="full-width">
                  <mat-label>Address (Permanent)</mat-label>
                  <textarea matInput formControlName="address" rows="3"  ></textarea>
                </mat-form-field>
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>Parent/Guardian Contact Details</mat-label>
                    <input matInput formControlName="guardianContact" >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Total Household Income</mat-label>
                    <input matInput formControlName="householdIncome" >
                  </mat-form-field>
                </div>
              </div>
              <div class="button-row">
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
  
          <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Education Details</ng-template>
            <form [formGroup]="secondFormGroup">
              <div class="step-content">
                <h3>Course Details <hr></h3>
                <mat-form-field>
                  <mat-label>Course Applied for</mat-label>
                  <select matNativeControl required>
                    <option value="volvo">Web Development</option>
                    <option value="saab">Tally Prime</option>
                    <option value="mercedes">Data Analytics</option>
                    <option value="audi">Office Administration</option>
                  </select>
                </mat-form-field>
                <h4>Qualification Details</h4>
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>Degree</mat-label>
                    <input matInput formControlName="degree">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>College Name</mat-label>
                    <input matInput formControlName="collegeName" >
                  </mat-form-field>
                </div>
                <div class="form-row">
                  <mat-form-field>
                    <mat-label>Year of Passing</mat-label>
                    <select matNativeControl required>
                      <option value="option1">2024</option>
                      <option value="option2">2023</option>
                      <option value="option3">2022</option>
                      <option value="option4">2021</option>
                      <option value="option5">2020</option>
                      <option value="option6">2019</option>
                      <option value="option7">2018</option>
                      <option value="option8">2017</option>
                      <option value="option9">2016</option>
                      <option value="option10">2015</option>
                      <option value="option11">2014</option>
                      <option value="option12">2013</option>
                      <option value="option13">2012</option>
                      <option value="option14">2011</option>
                      <option value="option15">2010</option>
                      <option value="option16">2009</option>
                      <option value="option17">2008</option>
                      <option value="option18">2007</option>
                      <option value="option19">2006</option>
                      <option value="option20">2005</option>
                      <option value="option21">2003</option>
                      <option value="option22">2002</option>
                      <option value="option23">2003</option>
                      <option value="option24">2002</option>
                      <option value="option25">2001</option>
                      <option value="option26">2000</option>
                    </select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Percentage</mat-label>
                    <input matInput formControlName="percentage" >
                  </mat-form-field>
                </div>
              </div>
              <div class="pre-button">
                <button mat-button matStepperPrevious>Previous</button>
              </div>
              <div class="button-row">
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
  
          <mat-step [stepControl]="declarationForm">
            <ng-template matStepLabel>Declaration</ng-template>
            <form [formGroup]="declarationForm">
            <div class="step-content">
              <h3>Declaration and Submission <hr></h3>
              <mat-checkbox color="primary" >
                I declare that all the information given here is true and complete to the best of my knowledge. 
                I understand that false or misleading information may result in my rejection of the application.
              </mat-checkbox>
            </div>
            <mat-form-field>
              <input matInput placeholder="Student's Signature" formControlName="studentSignature">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Parent/Guardian Signature" formControlName="parentSignature">
            </mat-form-field>
            <div class="photo-upload">
              <mat-label>Add Photo</mat-label>
              <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
              <input hidden (change)="onFileSelected($event)" #fileInput type="file">
              <span class="file-name">{{selectedFile?.name}}</span>
            </div>
            <h4>ENCLOSURES:</h4>
            <ul>
              <li>Passport size photograph – 3 No.</li>
              <li>Copy of Aadhar Card</li>
              <li>Copy of Photo ID proof</li>
              <li>Copy of College ID Card</li>
              <li>Original Certificates</li>
              <li>Income Certificate</li>
            </ul>
            <div class="pre-button">
            <button mat-button matStepperPrevious>Previous</button>
            </div>
            <div class="button-row">
              <button mat-raised-button color="primary" (click)="onSubmit()">Submit Application</button>
            </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>